main {
    display: flex;    
    flex-direction:column ;
}

#mega-container{
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#page-title{
    text-align: center;
    margin-bottom: 40px;
}

#login-container{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
}

#login-container button{
    text-align: center;
    background-image: linear-gradient(to right, rgb(252, 137, 88), rgb(247, 167, 132));
    padding: 3px;
    margin: auto;
    color: white;
    border-radius: 10px;
    border: none;
}

.temp-link{
    color: blue;
}

.register-link{
    color: red;
}