#notes-title-div{
    text-align: center;
    margin-bottom: 50px;
}

#ultimate-container{            
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    background-color: ;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#listed-notes{
    background-color: blanchedalmond;
    /* margin-top: 5rem; */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#notes-form, #recording-container{
    padding:10px;
    background-color: gray;
    border-radius: 10px;
}

.centered-labels{
    text-align: center;
}

/* main {
    display: flex;    
    flex-direction:column ;
}

#super-container{

    margin-left: auto;
    margin-right: auto;
    background-color: ;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#page-title{
    text-align: center;
    margin-bottom: 40px;
}

#tuner-container{
    background-color: blanchedalmond;
    border: 1px black solid;
    height: 20rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */