#notes-title-div{
    text-align: center;
    margin-bottom: 50px;
}

#ultimate-container{            
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    background-color: ;
    padding: 10px;    
}

#listed-notes{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#notes-form, #recording-container{
    padding:10px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#notes-form button, #recording-container button{
    text-align: center;
    background-image: linear-gradient(to right, rgb(252, 137, 88), rgb(247, 167, 132));
    padding: 3px;
    margin: auto;
    color: white;
    border-radius: 10px;
    border: none;
}

#recording-container button{
    margin: 2px;
}

.centered-labels{
    text-align: center;
}

/* main {
    display: flex;    
    flex-direction:column ;
}

#super-container{

    margin-left: auto;
    margin-right: auto;
    background-color: ;
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 8px 10px 0 0 ;
}

#page-title{
    text-align: center;
    margin-bottom: 40px;
}

#tuner-container{
    background-color: blanchedalmond;
    border: 1px black solid;
    height: 20rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */