#ultimate-container{            
    display: flex;
    justify-content: space-between;
}

#listed-notes{
    background-color: blanchedalmond;
    margin-top: 5rem;
}

#notes-form, #recording-container{
    padding:10px;
    background-color: gainsboro;
}