@{
    ViewData["Title"] = "Tuner";
}
<head>
    <link rel="stylesheet" href="/css/home/index.css"/>
</head>

<h1>@ViewData["Title"]</h1>

<div id="super-container">    
    <p>Play a note to start tuning your guitar!</p>
    <div id="tuner-container">
        This is where the tuner is going to be.
    </div>
</div>
