@{
    ViewData["Title"] = "Tuner";
}
<head>
    <link rel="stylesheet" href="/css/home/index.css"/>
</head>

<h1 id="page-title">@ViewData["Title"]</h1>

<div id="super-container">    
    <p>Hit start then play a note to start tuning your guitar!</p>
    <div id="tuner-container">
        This is where the tuner is going to be.
        <button id="tuner-start">Start Tuning</button>
        <button id="tuner-end">End Tuning</button>
    </div>
</div>

<script src="~/js/home/tuner.js"></script>
