@{
  Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/home/login.css"/>
</head>

@{
    ViewData["Title"] = "Login";
}

<div id="page-title">
    <h1>@ViewData["Title"]</h1>
</div>

<div id="mega-container">
    <div id="login-container">
        <form>
            <input type="text" placeholder="Username" id="username-inp"/>
            <br><br>
            <input type="password" placeholder="Password" id="password-inp"/>
            <br><br>
            <button>Login</button>
        </form>
    </div>

    <a class="temp-link" asp-controller="home" asp-action="index">go to index(temp)</a>
    <br><br>
    <a class="register-link" asp-controller="home" asp-action="register">Don't have an account? Create one here!</a>
    
</div>

<script src="~/js/home/login"></script>
@* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@