

<head>
    <link rel="stylesheet" href="/css/home/login.css"/>
</head>

@{
    ViewData["Title"] = "Login";
}

<div id="page-title">
    <h1>@ViewData["Title"]</h1>
</div>

<div id="mega-container">
    <div id="login-container">
        <form>
            <input type="text" placeholder="Username" id="username-inp"/>
            <br><br>
            <input type="password" placeholder="Password" id="password-inp"/>
            <br><br>
            <button>Login</button>
        </form>
    </div>
    
</div>