<head>
    <link rel="stylesheet" href="/css/home/notes.css">
</head>

@{
    ViewData["Title"] = "Notes";
}

<div id='notes-title-div'>
    <h1 id="page-title">@ViewData["Title"]</h1>
    <p id="notes-wel">Record jam sessions and take notes here!</p>
</div>


<p class="centered-labels"><strong>New Note</strong></p>
<div id="ultimate-container">

    <div id="recording-container">
        <p>Start a recording here</p>
        <button onclick="testCall()">Start Recording</button><button>End Recording</button>

        @* This might end up being a form *@

    </div>
    <br>
    <div id="notes-form">
        <form> 
            <input type="text" placeholder="Title"/>
            <br><br>
            <input type="text" placeholder="I think..."/>
            <br><br>
            <button>Add Note</button>
        </form>
    </div>

</div>

<p class="centered-labels"><strong>Past Notes</strong></p>
<div id="listed-notes">
    <p>this is where the notes and recordings will render</p>
</div>

<script src="~/js/home/notes.js"></script>