<head>
    <link rel="stylesheet" href="/css/home/notes.css">
</head>

@{
    ViewData["Title"] = "Notes";
}
<h1>@ViewData["Title"]</h1>

<p>Record jam sessions and take notes here!</p>

<div id="ultimate-container">

    <div id="recording-container">
        <p>Start a recording here</p>
        <button>Start Recording</button>

        @* This might end up being a form *@

    </div>
    <br>
    <div id="notes-form">
        <form>
            <input type="text" placeholder="Title"/>
            <br><br>
            <input type="text" placeholder="I think..."/>
            <br><br>
            <button>Add Note</button>
        </form>
    </div>

</div>
<div id="listed-notes">
    <p>this is where the notes and recordings will render</p>
</div>

