@* <!DOCTYPE html>  *@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/home/register.css"/>
</head>


@{
    ViewData["Title"] = "Register";
}

<div id="page-title">
    <h1>@ViewData["Title"]</h1>
</div>

<div id="huge-container">
    <div id="register-container">
        <form onsubmit="registerUser()">
            <input type="text" placeholder="Username" id="username-inp"/>
            <br><br>
            <input type="password" placeholder="Password" id="password-inp"/>
            <br><br>
            <button>Create Account</button>
            
        </form>
    </div>
    
    <a asp-controller="Home" asp-action="Index">go to index (temp)</a>
    <button id="testy" onclick="testFunc()">Test</button>
</div>

@* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
<script src="~/js/home/register.js"></script>