<head>
    <link rel="stylesheet" href="/css/home/register.css"/>
</head>

@{
    ViewData["Title"] = "Register";
}

<div id="page-title">
    <h1>@ViewData["Title"]</h1>
</div>

<div id="huge-container">
    <div id="register-container">
        <form>
            <input type="text" placeholder="Username" id="username-inp"/>
            <br><br>
            <input type="password" placeholder="Password" id="password-inp"/>
            <br><br>
            <button>Create Account</button>
        </form>
    </div>
    
</div>

<script src="~/js/home/register"></script>